html, body {
	margin:0;
	padding:0;
	height:100%;
	overflow: hidden;
}


*, *:before, *:after {
	border: 0;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}

:root {
	--hue: 223;
	--bg: hsl(var(--hue),10%,90%);
	--fg: hsl(var(--hue),10%,10%);
	--primary: hsl(var(--hue),90%,50%);
	--trans-dur: 0.3s;
	font-size: calc(5px + (60 - 20) * (100vw - 320px) / (2560 - 320));
}

body {
	background-color: var(--bg)!important;
	color: var(--fg)!important;
	display: flex;
	flex-direction: column;
	font: 1em/1.5 "DM Sans", sans-serif;
	align-items: center;
	transition: background-color var(--trans-dur), color var(--trans-dur);
	min-width: 100vw;
	min-height: 100vh;
  	-webkit-transition: all 300ms linear;
	transition: all 300ms linear;
}


main{
  position:relative;
  min-height:100%;
}

.bento-2{
  background-color: #121212;
  border-radius: calc(0.5 * 4rem);
  height:50%;
  width: 18rem;
}

.bento-m{
	width:100vw;
	height:40%;
	/* background:red; */
	position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	margin:auto;
}
.bento-2 a{
	line-height: 1;
	font-weight: 700;
	text-decoration: none;
	color:#fff;
}
.bento-2 a:hover{
  text-decoration: underline wavy;
  color: #1f98f9;
}

.message a:hover{
  text-decoration: underline wavy #1f98f9;
}
  .bento-1 {
    position: fixed; 
    right: 7%; 
    top: 2%;
    text-align: center;
  }

  @media (max-width:640px) {
	body{
	overflow-y: hidden;
	}
	.bento-1 {
		right: 0;
		left: 0;
		margin: auto;
		font-size: 24px;
	  }
	  .messages{
		display: none;
	  }
	  .bento-2 {
		font-size: 24px;
	  }
	  footer{
		margin-bottom: 20px;
	  }
}



.clock {
	margin: auto;
	text-align: center;
}
.clock__word {
	display: inline-block;
	font-weight: 200;
}
.clock__word:empty {
	display: none;
}
.clock__word--bold {
	font-weight: 600;
}
.clock__word--fade-fly-in {
	animation: fade-fly-in 0.6s cubic-bezier(0.65,0,0.35,1);
}

.messages {
  overflow: auto;
  width: 100vw;
  max-height: 100vh;
/*   padding: .5rem .4rem; */
/*   padding-left: 15%;
  padding-top: 15%; */
}
.bubble {
  overflow: hidden;
  display: inline-block;
  margin: 0 0 .25rem 0;
  padding: .5rem .85rem;
  line-height: 1rem;
  border-radius: 1.25rem;
  transform-origin: 0 100%;
  vertical-align: middle;
  transition: border-radius .25s ease-out .075s;
}
.bubble.left.cornered {
  border-bottom-left-radius: 0;
}
.bubble.left {
  background: rgba(206,206,206,0.50);
}
.bubble:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -.5rem;
  width: .5rem;
  height: .5rem;
  background-image: url(https://samrajya.dev/img/corner.svg);
  background-size: .5rem .5rem;
  background-position: .5rem 0;
  background-repeat: no-repeat;
  transition: background-position .15s ease-in;
}
.bubble.cornered:after {
  background-position: 0 0;
}
.bubble span {
  display: block;
}
.bubble span.message {
  opacity: 0;
}
.bubble a {
  color: #0076FF;
}
.bubble .loading {
  position: absolute;
  width: 2.25rem;
  font-size: 1rem;
  line-height: 1rem;
}
.bubble .loading b {
  display: inline-block;
  color: rgba(0,0,0,.5);
}






.contact-section {
	position: fixed;
	  top: 0;
	  left: 0;
	  width: 100%;
	  display: block;
	  overflow: hidden;
	  height: 100vh;
	  background-color: var(--bg);
	  transform: translateX(100%);
	  -webkit-transition: all 300ms linear;
	  transition: all 300ms linear;
	  z-index: 10;
  }
  body.contact-on .contact-section {
	  transform: translateX(0);
	  -webkit-transition-delay: 400ms;
	  transition-delay: 400ms;
  }
  .contact-close {
	position: absolute;
	  top: 20px;
	  right: 20px;
	  width: 30px;
	  display: block;
	  overflow: hidden;
	  height: 30px;
	  -webkit-transition: all 200ms linear;
	  transition: all 200ms linear;
	  background-repeat: no-repeat;
	  background-position: center;
	  background-size: 36px 36px;
	  background-image: url('http://www.ivang-design.com/svg-load/portfolio/close.svg');
	  cursor: pointer;
	  z-index: 11;
  }
  .contact-close:hover {
	  transform: rotate(90deg);
  }
  
  .copied {
	  display: none;
  }
  
  .form-control{
	  color: #1f98f9!important;
	  border-color: #1f98f9!important;
	  background-color: transparent!important;
  }
  .form-control::placeholder{
	  opacity: 0.5;
	  color: grey!important;
	}

.ab-section {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	padding: 100px 0;
	display: block;
	overflow-x: hidden;
	overflow-y: auto;
	background-color: var(--bg);
	transform: translateX(100%);
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear;
	z-index: 10;
}
.ab-biotext{
  color: #fff!important;
}
body.ab-on .ab-section {
	transform: translateX(0);
	-webkit-transition-delay: 400ms;
	transition-delay: 400ms;
}
.ab-close {
  position: absolute;
	top: 20px;
	right: 20px;
	width: 30px;
	display: block;
	overflow: hidden;
	height: 30px;
	-webkit-transition: all 200ms linear;
	transition: all 200ms linear;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 36px 36px;
	background-image: url('http://www.ivang-design.com/svg-load/portfolio/close.svg');
	cursor: pointer;
	z-index: 11;
}
.ab-close:hover {
    transform: rotate(90deg);
}












  .strip-1 {
    position: fixed;
    right: 3%;
    height: 100%;
    border: #000;
    width: 10px;
    background: #1f98f9;
    border-width: 0px 10px 0px 0px;
  }

.social-icons a{
  cursor: pointer;
  font-size: 30px;
}
.social-icons i{
  cursor: pointer;
  font-size: 30px;
  color:var(--fg);
}
footer p{
  color:var(--fg);
  font-size: 20px;
}
.social-icons i:hover {
  color: #1f98f9;
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
	:root {
		--bg: hsl(var(--hue),10%,10%);
		--fg: hsl(var(--hue),10%,90%);
	}
}
/* Animations */
@keyframes fade-fly-in {
	from { opacity: 0; transform: translateY(100%); }
	to { opacity: 1; transform: translateY(0); }
}
